.clear { clear: both !important; }
.left, .alignleft { float: left !important; }
.clearl { clear: left !important; }
.right, .alignright { float: right !important; }
.clearr { clear: right !important; }

.mtop50 { margin-top: 50px !important; }
.w450 { width: 450px !important; }

.hide { 
	display: none !important;
	visibility: hidden !important;
}

.error {
	background: #C80000;
	padding: 20px 10px;
	color: #fff;
	font-weight: bold;
	margin: 10px 10px 10px 40px;
}
	.error span {
		display: block;
		margin-bottom: 3px;
		font-family: Arial;
	}
	.error a {
		color: #fff;
		font-weight: normal;
	}
	.error a:hover {
		color: #000;
	}

.message {
	background: #009900;
	border: solid 1px #fff;
	text-align: center;
	padding: 10px;
	margin: 50px 30px 10px 30px;
	color: #fff;
	position: relative;
	z-index: 100;
}

img.alignleft {
	margin: 10px 10px 0 0;
	border: solid 2px #E3017F;
}

img.alignright {
	margin: 10px 0 0 10px;
	border: solid 2px #E3017F;
}